.crs-bnr{
    display: flex;
    background-color: EFEBF5;
    margin: 30px 56px;
    border-radius: 15px;
}
.crs-img{
 border-radius: 20px;
 width: 100%;
}
.filters {
    display: flex;
    gap: 1rem;
    margin: 15px;
    justify-content: center;
    flex-wrap: wrap;
}

.filter-btn {
    padding: 10px 20px;
    margin: 20px;
    background-color: #f06d4f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.filter-btn:hover {
    background-color: #ff8361;
}

.filter-btn.active {
    background-color: #f06d4f;
}

.filter-btn:not(.active) {
    background-color: #f1f1f1;
    color: #1a1a1a;
}
