/* Layout for Featured Courses Page */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 35px;
}

.all-courses-btnn {
  background-color: #ff5e5e;
  color: rgb(20, 19, 19);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 10px 20px; /* Button padding */
  margin-right: 35px; /* Space between buttons */
}

.all-courses-btnn:hover {
  background-color: #efa6a6;
}

.hdr-pp {
  padding-left: 35px;
  font-size: 16px;
  color: #5D5A6F;
}

/* Grid layout for the course cards */
.course-grid {
  display: grid;
  margin: 20px;
  grid-template-columns: repeat(5, 1fr); /* 5 cards per row */
  grid-gap: 20px; /* Space between cards */
  justify-items: center;
}
/* .g-arrow{
  display: flex;
} */

@media (max-width: 1250px) {
  .course-grid {
    grid-template-columns: repeat(4, 1fr); /* 4 cards per row on medium screens */
  }

  .hdr-h1 {
    font-size: 28px;
  }

  .hdr-pp {
    font-size: 13px;
  }
  .all-courses-btnn {
    background-color: #ff5e5e;
    color: white;
    padding: 10px 20px; /* Button padding */
    margin-right: 35px; /* Space between buttons */
  }
}

@media (max-width: 992px) {
  .course-grid {
    grid-template-columns: repeat(4, 1fr); /* 3 cards per row on smaller screens */
  }

  .hdr-h1 {
    font-size: 28px;
  }

  .hdr-pp {
    font-size: 13px;
  }
  .all-courses-btnn {
    background-color: #ff5e5e;
    color: white;
    font-size: x-small;
    padding: 8px 8px; /* Button padding */
    margin-right: 35px; /* Space between buttons */
  }
}

@media (max-width: 768px) {
  .course-grid {
    grid-template-columns: repeat(3, 1fr); /* 2 cards per row on mobile */
  }

  .hdr-h1 {
    font-size: 24px;
  }

  .hdr-pp {
    font-size: 10px;
  }
  .all-courses-btnn {
    background-color: #ff5e5e;
    color: white;
    font-size: x-small;
    padding: 8px 8px; /* Button padding */
    margin-right: 35px; /* Space between buttons */
  }
}

@media (max-width: 480px) {
  .course-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 cards per row */
  }

  .hdr-h1 {
    font-size: 1.2rem;
    margin-left: -10px;

  }

  .hdr-pp {
    font-size: 7px;
    margin-left: -10px;
  }
  .all-courses-btnn {
    background-color: #ff5e5e;
    color: white;
    font-size: 7px;
    padding: 5px 5px; /* Button padding */
    margin-right: 30px; /* Space between buttons */
  }
}